@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@keyframes countdown {
    from {
      stroke-dashoffset: 125.6;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  #autoplay-circle {
    animation: countdown 3s linear infinite;
  }